{% extends "base.html" %}

{% block content %}

<body>


  <div class="grid">

    <div></div>

    <div class="title" id="name">
      <p style="text-align: left"> Anshuman Mohan </p>
    </div>


    <div class="info">
      <p> <img class="resize" src={{ get_url(path="img/anshuman_bike_seattle.jpg" )}} alt="Anshuman with bike"
          width="340px"> </p>
    </div>

    <div class="blurb">

      <p> I am a PhD candidate at <a href="https://www.cornell.edu/">Cornell University</a>'s <a
          href="https://www.cs.cornell.edu/">Department of Computer Science</a>.
        My research sits at the intersection of programming languages, computer networks, and computer architecture.
        My advisor is <a href="https://www.cs.cornell.edu/~asampson/">Adrian Sampson</a>, and I have collaborated in
        graduate school with
        <a href="https://natefoster.org/">Nate Foster</a>,
        <a href="https://www.cs.cornell.edu/~kozen/">Dexter Kozen</a>,
        and <a href="http://james.grimmelmann.net/">James Grimmelmann</a>.
      </p>
      <p> Before Cornell, I worked with
        <a href="https://profiles.ucl.ac.uk/87909-aquinas-hobor">Aquinas Hobor</a> on CertiGraph, a Rocq development for
        the formal
        verification of graph-manipulating programs written in C.
        <!-- Highlights include the verification of a garbage collector for the  -->
        <!-- CertiRocq compiler, the discovery of an overflow bug in Dijkstra's algorithm, -->
        <!-- and a refinement in the precondition of Prim's algorithm. </p> -->
        Before Aquinas, I was part of the inaugural cohort of
        <a href="https://www.yale-nus.edu.sg/">Yale-NUS College</a>.
        I gave the commencement address for my graduating class.
        I grew up in Calcutta.
      </p>

      <p>
        <a href=https://maps.app.goo.gl/w5yEJ9YHQz4GS6cZ6>UBB</a> 460 &middot amohan&#9424cs.cornell.edu <br>
        <a href="https://capra.cs.cornell.edu/">Capra</a> &middot
        <a href="https://www.dli.tech.cornell.edu/ctrl-alt">Ctrl-Alt</a>
        &middot
        <a href="https://florarosehouse.cornell.edu/">Flora Rose House</a>
      </p>

    </div>


  </div>

  <div class="grid">

    <div class="title info">
      <p> News </p>
    </div>

    <div></div>

    <div class="info subheading">
      <p> Fall 2025 </p>
    </div>

    <div class="blurb">
      <p>
        After a year of teaching, I am excited to return to research full-time!
      </p>
    </div>

    <div class="info subheading">
      <p> Summer 2025 </p>
    </div>

    <div class="blurb">
      <p>
        I spend the summer with <a href="https://www.hpe.com/us/en/hewlett-packard-labs.html">HPE Labs</a> in the Bay
        Area, working with Jean Tourrilhes, Bob Lantz, and Puneet Sharma.
      </p>
    </div>

    <div class="info subheading">
      <p> Spring 2025 </p>
    </div>

    <div class="blurb">
      <p> I again taught <a href="https://www.cs.cornell.edu/courses/cs3110/2025sp/">CS 3110 Data Structures and
          Functional Programming</a>, this time as sole instructor.</p>
      <p> I was appointed Visiting Lecturer in the CS Department and House Fellow at Flora Rose House.</p>
    </div>

    <div class="info subheading">
      <p> Fall 2024 </p>
    </div>

    <div class="blurb">
      <p> I co-taught <a href="https://www.cs.cornell.edu/courses/cs3110/2024fa/">CS 3110 Data Structures and
          Functional Programming</a> with <a href="https://sites.coecis.cornell.edu/clarkson/">Michael Clarkson</a>.
      </p>
      </p>
    </div>

    <div class="info subheading">
      <p> Summer 2024 </p>
    </div>

    <div class="blurb">
      <p> I mentored three extraordinary undergraduate students through Cornell's <a
          href="https://cis.cornell.edu/students/bure-bowers-cis-undergraduate-research-experience">BURE</a> program. I
        also ran the Academic Skills Seminar Series for the entire 60-person BURE cohort.
      </p>
    </div>

    <div class="info subheading">
      <p> Spring 2024 </p>
    </div>

    <div class="blurb">
      <p> I accepted an additional appointment at Cornell's West Campus Housing System. I am now a Graduate Resident
        Fellow at <a href="https://florarosehouse.cornell.edu/">Flora Rose House</a>.
      </p>
    </div>

    <div class="info subheading">
      <p> Fall 2023 </p>
    </div>

    <div class="blurb">
      <p> I took <a href="#formalabstractions"><em>Formal Abstractions</em></a> on tour! I was at Open Universiteit
        Nederland in Heerlen, OOPSLA in Cascais, NYU in New York City, MIT in Cambridge, UW in Seattle, and Inria in
        Rennes. </p>
      <p> I ran a new graduate course, <a href="{{ get_url(path='@/course/_index.md') }}">CS 6006 Succeeding in the
          Graduate
          Environment</a>, for its first iteration. The Department recognized my work with its inaugural Outstanding
        Service Award.</p>
    </div>

    <div class="title info">
      <p> Personal </p>
    </div>

    <div></div>

    <div class="info subheading">
      <p> <a href="{{ get_url(path='@/blog/_index.md') }}">Blog</a> </p>
    </div>

    <div class="blurb">
      <p> Science is for everyone, but scientific papers tend not to be.
        My blog is a humble experiment in accessibility:
        I offer primers on research topics I care about, assuming no prior exposure to computer science.
        Because I cannot help myself, I will probably also write about food. </p>
    </div>

    <div class="info subheading">
      <p> To <del>plant a garden</del> do scientific research is to believe in tomorrow </p>
    </div>

    <div class="blurb">
      <p> Part of the point of doing science is to have your work seen, used, and
        made redundant. Sadly, at the rate we're heating the planet, we'll
        soon have more rudimentary things to worry about. I'm cautiously
        optimistic about climate change, but with the understanding that
        intentional work is needed from everyone who can afford to put it in.
        I'm still working on my plan, so please reach out if you'd like to discuss
        this as either a mentor or a coconspirator.
      </p>
    </div>

  </div>

  <div class="grid">

    <div class="title info">
      <p> Publications </p>
    </div>

    <div></div>

    <div> </div>
    <div class="subheading" , id="unifying"> Unifying Static and Dynamic Intermediate Languages
      for Accelerator Generators </div>

    <div class="info">
      <p>
        Kim, Li, Mohan, Butt, Sampson, Nigam </p>
      <p> OOPSLA 2024, Pasadena </p>
      <p> <a href="https://dl.acm.org/doi/10.1145/3689790">Paper</a> &middot
        Code merged into <a href=https://calyxir.org />Calyx</a>
      </p>
    </div>

    <div class=" blurb">
      <p>
        Compilers for <em>accelerator design languages</em> translate
        high-level languages into application-specific hardware.
        These compilers rely on a control interface to compose hardware units.
        There are two choices: static control,
        which relies on cycle-level timing; and dynamic control, which
        uses explicit signalling to avoid depending on timing details.
        Static control is efficient but brittle; dynamic control incurs
        hardware costs to support compositional reasoning.
        We present a compiler that unifies static and dynamic
        control in a single intermediate language, and yields rich dividends.
      </p>
    </div>

    <div></div>
    <div class="subheading" , id="formalabstractions">
      <br><br>Formal Abstractions for Packet Scheduling
    </div>

    <div class="info">
      <p>Mohan, Liu, Foster, Kapp&#233, Kozen </p>
      <p>OOPSLA 2023, Cascais <br>
        Distinguished Paper Award &#127881; </p>

      </p>
      <p>
        <a href={{ get_url(path="slides/formalsched-slides.pdf" )}}>Slides</a>
        &middot
        <a href="https://dl.acm.org/doi/10.1145/3622845">Paper</a>
        &middot
        <a href="https://github.com/cornell-netlab/pifo-trees-artifact">Code</a>
        <br>
        <a href="https://news.cornell.edu/stories/2023/12/researchers-mold-model-more-nimble-networks">Popular Media</a>
      </p>
    </div>

    <div class="blurb">
      <p>
        PIFO trees are an exciting primitive for programmable packet scheduling, but are poorly understood and
        underutilized.
        Part of the issue is that the expressivity of a PIFO tree is thought to be inextricably tied to its shape,
        meaning that
        expressing a <em>range</em> of scheduling policies would require a range of tree-shapes to be deployed in
        hardware.
        This is clearly untenable.
        In our work, we give PIFO trees a formal syntax and semantics, prove properties about the expressivity of PIFO
        trees as a function of their shape, and show how to break free of the connection between shape and
        expressivity.
        This comes together as a <em>compiler</em> that allows one to write a program &#8212 a scheduling algorithm
        &#8212
        against one PIFO
        tree but still deploy it on
        another PIFO
        tree of a different shape.
        If a sufficiently expressive PIFO tree is made available in hardware, our compiler can allow a range of
        scheduling policies to run on it.
      </p>
    </div>

    <div> </div>
    <div>
      <div class="subheading">
        <br><br>Littleton: An Educational Environment for Property Law <span style="font-weight:normal">and</span> Legal
        Calculi
      </div>
    </div>

    <div class="info">
      <p>
        Basu, Mohan, Grimmelmann, Foster </p>
      <p> ProLaLa 2022, Philadelphia </p>
      <p> <a href="https://conveyanc.es/">Website</a> &middot
        <a href={{ get_url(path="slides/littleton-slides.pdf" )}}>Slides</a>
      </p>
    </div>

    <div class="blurb">
      <p> While much of the law is up to human interpretation, property law has a more programmatic goal.
        An item is <i>conveyed</i> from person to person, and this conveyance may be
        affected by further conveyances, life events such as birth and death, and the satisfaction or
        dissatisfaction of arbitrary stipulations placed by conveyors.
        Through all of this, the law desires unambiguous ownership.
        Orlando is a DSL that addresses this problem through a novel use of techniques from PL, and Littleton is an
        interpreter that makes these techniques pedagogically useful.
      </p>
    </div>

    <div></div>
    <div class="subheading">
      <br><br>Functional Correctness of C Implementations of
      Dijkstra's, Prim's, and Kruskal's Algorithms
    </div>

    <div class="info">
      <p>
        Mohan, Leow, Hobor </p>
      <p>CAV 2021, Online </p>
      <p> <a href="https://ucl-pplv.github.io/CAV21/poster_P_154/">Videos</a>
        &middot
        <a href={{ get_url(path="slides/dpk-slides.pdf" )}}>Slides</a>
        &middot
        <a href="https://link.springer.com/chapter/10.1007/978-3-030-81688-9_37">Paper</a>
        &middot
        <a href="https://zenodo.org/record/4744665">Code</a>
      </p>
    </div>

    <div class="blurb">
      <p> We extend the CertiGraph library to enable reasoning about labeled edges
        and undirected graphs, and use it to verify
        C implementations of Dijkstra's, Prim's, and Kruskal's algorithms.
        Each of these classic algorithms has been used and studied for
        more than 60 years, and yet our verification reveals remarkable subtleties.
        We show that Dijkstra has an overflow issue that places delicate restrictions on
        the maximum allowable path cost. We also debunk the universal misconception that
        Prim runs correctly only on connected graphs.
        Our proofs are checked in Rocq.
      </p>
    </div>

    <div></div>

    <div class="subheading">
      <br><br>Functional Proof Pearl:
      Inverting the Ackermann Hierarchy
    </div>

    <div class="info">
      <p>
        Tran, Mohan, Hobor </p>
      <p>CPP 2020, New Orleans </p>
      <p> <a href={{ get_url(path="slides/inv-ack-slides.pdf" )}}>Slides</a>
        &middot
        <a href="https://dl.acm.org/doi/10.1145/3372885.3373837">Paper</a>
        &middot
        <a href="https://github.com/inv-ack/inv-ack">Code</a>
      </p>
    </div>

    <div class="blurb">
      <p> The Ackermann function \(\mathcal{A}\) grows explosively, and its inverse
        \(\alpha\) is of interest in CS. Sadly, the standard practice of computing
        \(\alpha\) via \(\mathcal{A}\) is untenable.
        We give a new and efficient computation of \(\alpha\).
        We also give efficient computations for the
        related and better-known hyperoperation hierarchy
        <span class="nowrap">(\(+\), \(\times\), exp, tetration, etc)</span>
        and its inverse
        <span class="nowrap">(\(-\), \(\div\), log, log\(^{*}\), etc)</span>.
        Our definitions are proved correct in Rocq,
        and our time bounds are supported by pen-and-paper proofs and
        benchmarks after extraction to OCaml.
      </p>
    </div>

    <div></div>
    <div class="subheading">
      <br><br>Certifying Graph-Manipulating C Programs
      via Localizations within Data Structures
    </div>

    <div class="info">
      <p>
        Wang, Cao, Mohan, Hobor </p>
      <p>OOPSLA 2019, Athens </p>

      <p> <a href={{ get_url(path="posters/autoquack-poster.pdf" )}}>Poster</a>
        &middot
        <a href={{ get_url(path="slides/autoquack-slides.pdf" )}}>Slides</a>
        &middot
        <a href="https://dl.acm.org/doi/10.1145/3360597">Paper</a>
        &middot
        <a href="https://zenodo.org/record/3368779">Code</a>
      </p>
    </div>

    <div class="blurb">
      <p> Formally verifying graph algorithms is hard: nodes can be shared
        arbitrarily, so uninvolved subgraphs cannot be "framed away".
        We address this with a new separation logic rule
        called <span class="sc">localize</span>.
        We develop CertiGraph, a Rocq library that provides a
        setup for defining mathematical graphs in Rocq, laying them out in memory
        via separation logic,
        and stating and proving properties about them.
        We demonstrate the power of CertiGraph by using it to verify seven
        graph-manipulating C programs. Our flagship example is a
        generational garbage collector.
        We identify two places where the semantics of C is
        too restrictive to define
        OCaml-style GCs.
        Our proofs are checked in Rocq. </p>
    </div>
  </div>

  <div class="grid">

    <div class="title info">
      <p> Teaching </p>
    </div>

    <div></div>

    <div class="info">
      <p class="subheading"> Instructor of Record </p>
    </div>

    <div class="blurb">
      <p>
        Spring 2025: <a href="https://www.cs.cornell.edu/courses/cs3110/2025sp/">CS 3110 Data Structures and Functional
          Programming</a>
        <br>
        Fall 2024: <a href="https://www.cs.cornell.edu/courses/cs3110/2024fa/">CS 3110 Data Structures and Functional
          Programming</a>
        <br>
        Fall 2023: <a href="{{ get_url(path='@/course/_index.md') }}">CS 6006 Succeeding in the Graduate
          Environment</a>
      </p>
    </div>

    <div class="info">
      <p class="subheading"> K-12 Outreach </p>
    </div>

    <div class="blurb">
      <p>
        Summer 2024: <a href={{ get_url(path="blog/eli5" )}}><em>Explain Like I'm Five: Binary
            Numbers</em></a> at <a href="https://sites.coecis.cornell.edu/react/">REACT</a>
        <br>
        Summer 2022: <a href={{ get_url(path="blog/eli5" )}}><em>Explain Like I'm Five: Binary
            Numbers</em></a> at <a href="https://www.nys4-h.org/career-explorations">4H CareerEx</a>
        <br> Spring 2022: <a href={{ get_url(path="blog/eli5" )}}><em>Explain Like I'm Five: Binary
            Numbers</em></a> at <a href="https://sites.google.com/view/grasshopratcornell/home">Grasshopr</a>
      </p>
    </div>
  </div>

  <div class="grid">

    <div class="title info">
      <p> Service </p>
    </div>

    <div></div>

    <div class="info">
      <p class="subheading"> K-12 Outreach </p>
    </div>

    <div class="blurb">
      <p>
        AY 2025-26: Chair for Lab Tours and Demos at <a href="https://www.eyh.cornell.edu/"><em>Expand Your
            Horizons</em></a>
      </p>
    </div>

    <div class="info">
      <p class="subheading"> External Reviewer </p>
    </div>
    <div class="blurb">
      <p> <a href="https://etaps.org/2020/esop">ESOP 2020</a> </p>
    </div>

    <br><br><br>
  </div>
</body>

{% endblock content %}